body {
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
    margin: 0px; /*this allows background colour to reach edges */
    
}

.firstBackground {
    background-color: #1f2937;
    display: block;
}

.firstSection {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    /*
    width: 80%;
    margin: 0 auto; */
    
}

.firstSection ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
    
}

.firstSection a {
    text-decoration: none;
    color: white;
}

.secondSection {
    background-color: #1f2937;
    display: flex;
    padding: 60px;
    color: white;
    justify-content: center;
}

.secondSectionRight {
    height: 200px;
    width: 550px;
    background-color: gray;
}

.secondSectionLeft {
    display: inline;
    max-width: 550px;
    flex-wrap: wrap;
    margin-bottom: 0px;
    margin-top: 0px;
    
}

.secondSectionLeft h2 {
    font-weight: 900;
    font-size: 20px;
    display: inline;
}

.secondSectionLeft button {
    color: #E5E7EB;
    background-color: #3882f6;
    border-radius: 14px;
    font-size: large;
    padding: 7px 21px;
    border: 1px solid #3882f6;
    font-weight: 700;
}

.fourthSectionQuote {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: light;
}

.fourthSectionQuote p {
    max-width: 800px;
}

.fourthSectionAuthor {
    display: block;
    font-size: 24px;
    font-weight: 900;
    text-align: end;
}

.fifthSection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 465px;
}

.fifthSectionBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    width: 1200px;
    height: 200px;
    border-radius: 20px;
}

.fifthSectionLeft {
    color: white;
}
.fifthSectionLeft h3 {
    margin-bottom: 5px;
}
.fifthSectionLeft p {
    margin-top: 5px;
}

.fifthSectionRight button {
    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 14px;
    font-size: large;
    color: white;
    padding: 7px 21px;
}

footer {
    text-align: center;
    background-color: #1f2937;
    padding: 15px;
    color: white;
    font-size: 12px;
}