body {
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
    margin: 0px; /*this allows background colour to reach edges */

}

.firstBackground {
    background-color: #1f2937;
    display: block;
}

.firstSection {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.firstSection ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
    
}

.firstSection a {
    text-decoration: none;
    color: white;
}

.secondSection {
    background-color: #1f2937;
    display: flex;
    padding: 60px;
    color: white;
    justify-content: center;
}

.secondSectionRight {
    height: 200px;
    width: 550px;
    background-color: gray;
}

.secondSectionLeft {
    display: flex;
    max-width: 550px;
    flex-wrap: wrap;
    
}

.secondSectionLeft h2 {
    font-weight: 900;
    font-size: 20px;
}

.fourthSectionQuote {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: light;
}

.fourthSectionQuote p {
    max-width: 800px;
}

.fourthSectionAuthor {
    display: block;
    font-size: 24px;
    font-weight: 900;
    text-align: end;
}